name: Docker

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    tags:
      - "v*"
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
  pull_request:
    branches:
      - "main"
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: milkywayd

jobs:
  milkywayd:
    name: Milkywayd
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    outputs:
      tags: ${{ steps.meta.outputs.tags }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create the builder
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./contrib/images/milkyway-builder/Dockerfile
          load: true
          tags: milkywaylabs/builder:latest

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          push: ${{ startsWith(github.ref, 'refs/tags') }} # push image only for tags
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
